<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction "ltr" }}">
    {{- partial "head.html" . -}}
    <body a="{{ site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                <div class="post-meta">
                    {{ partial "back_link.html" .}}
                    <p>
                        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ .Date | time.Format site.Params.theme_config.date_format }}
                        </time>
                    </p>
                </div>
                {{- block "main" . }}{{- end }}
            </div>
        </main>
    </body>
    {{- with .Params.custom_js -}}
        {{- range . -}}
            {{- with resources.Get (printf "js/%s.js" .) }}
            <script src="{{ .RelPermalink }}"></script>
            {{- end -}}
        {{- end -}}
    {{- end -}}
</html>
