{{- $config := partial "theme_config.html" . -}}
{{- if $config.isShowFooter -}}
    {{- $footerContent := "" -}}
    {{- if fileExists "layouts/footer.md" -}}
        {{- $footerContent = readFile "layouts/footer.md" | strings.TrimSpace -}}
    {{- end -}}
    {{- if $footerContent -}}
        {{ $footerContent | markdownify }}
    {{- else -}}
        {{- warnf "layouts/footer.md file is not found or empty. Falling back to default footer." -}}
        <footer class="site-footer">
            <p>&copy; {{ now.Format "2006" }} {{ site.Title }}</p>
        </footer>
    {{- end -}}
{{- end -}}
